.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
Thumbs.db

# Dataset & outputs
/data/
/checkpoints/
/results/
/dataset.zip
/yolov8n.pt
*.pt
*.h5
*.onnx

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
runs/
